.main-content {
    height: calc(100vh - 83px);
    background-color: $light-violet;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 700;
    color: $white;
}